db.sqlite3
src/db.sqlite3
.venv
Project Notes.gdoc
__pycache__
src/__pycache__
**/*.pyc  # Ignore all .pyc files in all directories ** matches any directory at any depth, * matches any file in a directory
.env
src/.env


# Ignore only the root-level static folder created by collectstatic
/static
/src/static

