<html>
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>Start a new To-Do list</h1>
        <!-- The form uses the POST method to send data securely to the server through the homepage-->
        <form method="POST" action="/lists/new">
            <!-- User input field -->
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item"/>
            <!-- Django CSRF protection token -->
            {% csrf_token %}
        </form>
    </body>
</html>