<html>
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>Your To-Do list</h1>
        <!-- The form uses the POST method to send data securely to the server through the homepage-->
        <form method="POST" action="/lists/new">
            <!-- User input field -->
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item"/>
            <!-- Django CSRF protection token -->
            {% csrf_token %}
        </form>
        <table id="id_list_table">
            <!-- Loop through each item in the items list passed from the view -->
            {% for item in items %}
                <!-- Create a new table row for each item -->
                <!-- forloop.counter is a built-in Django variable that provides the current iteration count (starting from 1) -->
                <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
            {% endfor %}
        </table>
    </body>
</html>